@import '../../static/scss/variables';


.tournament-bracket{
	background-color: $color_black;
	padding-top: 70px;
	padding-bottom: 70px;

	.container{
		display: flex;
		justify-content: space-between;
		
		.stage + .stage {
			margin-left: $width-stage;
		}
	}

	.stage{
		flex: 0 1 $width-stage;
	}
}

@media (max-width: $lg) {
	.tournament-bracket{
		.container{
			flex-direction: column;

			.stage + .stage {
				margin-left: 0;
				margin-top: 80px;
			}
		}

		.stage.semifinal.A{
			order: 3;
		}
		.stage.final{
			order: 5;
		}
		.stage.quarterfinal.B{
			order: 2;
		}

		.stage.semifinal.B{
			order: 4;
		}
	}
}