@import '../../../static/scss/variables';


.social{
	color: $color_white;

	&__title{
		font-size: 24px;
		font-weight: $fw-medium;
		margin-bottom: 20px;
	}
	&__list{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__link{
		cursor: pointer;
		color: rgba($color_white, .7);
		transition: .5s;

		&:hover{
			color: $color_white;
		}
	}

	&__icon{
		width: 24px;
		height: 32px;
		fill: $color_white;
	}
}

@media (max-width: $lg) {
	.social{
		text-align: center;
		
		&__list{
			align-items: center;
			gap: 40px;
		}
	}
}