@import '../../../../static/scss/variables';


.match {
	display: flex;
	flex-direction: column;

	.match-team + .match-team{
		border-top: 1px solid #AAAAAA;
	}

	.match-team{
		min-height: 40px;
	}
}


@media (max-width: $lg) {
	.match{
		border-radius: 10px;
		overflow: hidden;

		.match-team{
			min-height: 90px;
		}
	}
}


@media (max-width: $md) {
	.match .match-team{
		min-height: 60px;
	}
}
